/* 色系适配标准样式 */
.temp-title-color         { color:#fff; }		 /* title 文字 */
.home-name-color          { color:#fff; }		 /* 公司名称  */
.footer-text-color        { color:#fff; }		 /* 公司名称  */
.home-menu-text-color     { color:#fff; } 		 /* 内容栏目菜单文字  */
	




